---
import { slide } from "astro:transitions";

interface Props {
  prev?: string;
  next?: string;
}

const { prev, next } = Astro.props;
---

<main
  data-slide
  data-prev={prev}
  data-next={next}
  transition:animate={slide({ duration: "0.4s" })}
>
  <slot />
</main>

<style>
  main {
    margin: 2rem;
    padding: 2rem;
    max-width: calc(100% - 2rem);
    color: white;

    font-size: 20px;
    line-height: 1.6;

    background-color: #006360;
    border-radius: 7px;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>

<script>
  import { navigate } from "astro:transitions/client";

  document.addEventListener("astro:page-load", () => {
    const main = document.querySelector("main[data-slide]") as HTMLElement;
    const { prev = "", next = "" } = main.dataset;

    const onKeydown = (event: KeyboardEvent) => {
      switch (event.key) {
        case "ArrowLeft":
          if (prev) navigate(prev);
          break;
        case "ArrowRight":
          if (next) navigate(next);
          break;
        default:
        //   console.log(event.key);
      }
    };

    document.addEventListener("keydown", onKeydown);
    document.addEventListener("astro:before-swap", () => {
      document.removeEventListener("keydown", onKeydown);
    });
  });
</script>
