---
import { slide } from "astro:transitions";

interface Props {
  prev?: string;
  next?: string;
}

const { prev, next } = Astro.props;
---

<main
  data-slide
  data-prev={prev}
  data-next={next}
  transition:animate={slide({ duration: "0.4s" })}
>
  <slot />
</main>

{
  (prev || next) && (
    <div class="slide-control" transition:animate="fade">
      {prev && (
        <a href={prev} title="Previous slide">
          ⬅️
        </a>
      )}
      {next && (
        <a href={next} title="Next slide">
          ➡️
        </a>
      )}
    </div>
  )
}

<style>
  main {
    height: calc(100% - 4rem);
    max-width: calc(100% - 2rem);

    margin: 1rem;
    padding: 1rem;
    color: white;

    font-size: 20px;
    line-height: 1.6;

    background-color: #006360;
    border-radius: 7px;
  }

  .slide-control {
    background-color: #006360;
    border-radius: 7px;

    margin: 1rem;

    position: absolute;
    right: 0;
    bottom: 0;

    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
  }

  .slide-control a {
    text-decoration: none;
  }
</style>

<script>
  import { navigate } from "astro:transitions/client";

  document.addEventListener("astro:page-load", () => {
    const main = document.querySelector("main[data-slide]") as HTMLElement;
    const { prev = "", next = "" } = main.dataset;

    const onKeydown = (event: KeyboardEvent) => {
      switch (event.key) {
        case "ArrowLeft":
          if (prev) navigate(prev);
          break;
        case "ArrowRight":
          if (next) navigate(next);
          break;
        default:
        //   console.log(event.key);
      }
    };

    document.addEventListener("keydown", onKeydown);
    document.addEventListener("astro:before-swap", () => {
      document.removeEventListener("keydown", onKeydown);
    });
  });
</script>
