---
import WebGlCanvas from "./WebGlCanvas.astro";
import WebGlCode from "./WebGlCode.astro";

interface Props {
  file: string;
}

const { file } = Astro.props;
---

<div class="webgl-container">
  <WebGlCanvas file={file} />

  <WebGlCode file={file} />
</div>

<style>
  .webgl-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
</style>
