---
import Layout from "../../layouts/Layout.astro";
import Slide from "../../components/Slide.astro";
---

<Layout title="Nook2024: Malen nach Zahlen">
  <Slide>
    <h1>Malen nach Zahlen</h1>
    <p>Could be a first slide?</p>
    <a href="/slides/2">Go to slide 2.</a>
  </Slide>
</Layout>

<style></style>
