---
import Layout from "../../layouts/Layout.astro";
import Slide from "../../components/Slide.astro";
---

<Layout title="Nook2024: Malen nach Zahlen">
  <Slide next="2">
    <h1>Malen nach Zahlen</h1>
  </Slide>
</Layout>

<style></style>
