---
import Layout from "../../layouts/Layout.astro";
import Slide from "../../components/Slide.astro";
import WebGl from "../../components/WebGl.astro";
---

<Layout title="Nook2024: Malen nach Zahlen">
  <Slide prev="1">
    <h1>Malen nach Zahlen</h1>
    <p>Could be a second slide?</p>
    <WebGl file="test-1" />
    <a href="/slides/1">Go to slide 1.</a>
  </Slide>
</Layout>

<style></style>
