---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Slide from "../../components/Slide.astro";
import type { RenderResult } from "astro:content";

const slides = await getCollection("slides");

const contentMap = Object.fromEntries(
  await Promise.all(
    slides.map(
      async (slide): Promise<[string, RenderResult]> => [
        slide.slug,
        await slide.render(),
      ]
    )
  )
);
---

<Layout title="Nook2024: Slide overview">
  <div class="slides">
    {
      slides.map((slide) => {
        const { Content } = contentMap[slide.slug];
        return (
          <a class="slide" href={`/slides/${slide.slug}`}>
            <Slide>
              <Content />
            </Slide>
          </a>
        );
      })
    }
  </div>
</Layout>

<style>
  .slides {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .slide {
    text-decoration: none;
    flex: 1 1 0;
    flex-basis: 25%;
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const onKeydown = (event: KeyboardEvent) => {
      switch (event.key) {
        case "Escape":
          history.back();
          break;
        default:
        // console.log(event.key);
      }
    };

    const hasSlides = document.querySelector(".slides") !== null;

    if (hasSlides) {
      document.addEventListener("keydown", onKeydown);

      document.addEventListener("astro:before-swap", () => {
        document.removeEventListener("keydown", onKeydown);
      });
    }
  });
</script>
