---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Nook2024: Malen nach Zahlen">
  <main>
    <h1>Malen nach <span class="text-gradient">Zahlen</span></h1>

    <ul role="list" class="cards-list">
      <Card href="/slides/" title="Slides" body="Look at the slides." />
      <Card
        href="https://2024.nook-luebeck.de/"
        title="Nook2024"
        body="Visit the Nook 2024 website."
      />
      <Card href="/notes" title="Notes" body="I want to rummage around." />
      <Card
        href="/lighthouse"
        title="Lighthouse"
        body="Just the lighthouse please."
      />
      <Card
        href="https://github.com/runjak/nook2024"
        title="GitHub repository"
        body="See the code."
      />
      <Card
        href="https://www.runjak.codes"
        title="runjak.codes"
        body="Who made this?"
      />
    </ul>
  </main>
</Layout>
