---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Nook2024: Malen nach Zahlen">
  <main>
    <h1>Malen nach <span class="text-gradient">Zahlen</span></h1>

    <ul role="list" class="cards-list">
      <Card href="/slides/1" title="Slides" body="Look at the slides." />
      <Card
        href="https://2024.nook-luebeck.de/"
        title="Nook2024"
        body="Visit the Nook 2024 website."
      />
      <Card
        href="https://github.com/runjak/nook2024"
        title="GitHub repository"
        body="Can I see the code?"
      />
      <Card
        href="https://www.runjak.codes"
        title="runjak.codes"
        body="Who made this?"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .cards-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0;
  }
</style>
