---
import Layout from "../layouts/Layout.astro";
import WebGlCanvas from "../components/WebGlCanvas.astro";
---

<Layout title="Nook2024: der Leuchtturm">
  <main style="width: 100%;">
    <h1>Malen nach <span class="text-gradient">Zahlen</span></h1>

    <WebGlCanvas file="10-closing-leuchtturm" />
    <a href="/"><span>&rarr;</span><span class="text-gradient"> Home</span></a>
  </main>
</Layout>

<script>
  import { init as initCanvas } from "../components/canvas";
  initCanvas();
</script>
